@import url('https://fonts.googleapis.com/css2?family=Sunflower:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gugi&family=Hi+Melody&display=swap');
body{
    width:100vw;
    height:100vh;
    margin:0;
    padding:0;
   
}

.container_1{
    display:flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:100%;
    background-color:rgba(0, 0, 0, 0.1);
    transform-style: preserve-3d;
    /*cursor:url(images/right-arrow-icon-7590.png), auto;*/
}


.background {
    display: flex;
    width:32%;
    line-height: 3;
    color: black;
    font-size: 25px;
    animation: showText 1.5s linear forwards;
    font-weight: 700;
    font-family: 'Sunflower', sans-serif;
    z-index: -100;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; 
    
}

.background-effect{
    
    transform: translateZ(4px);
    position: absolute;
    width:32%;
    line-height: 3;
    color: rgb(236, 132, 46);
    font-size: 25px;
    
    display: inline-block;
    animation: textEffect 1.5s linear forwards;
    filter: blur(1px) contrast(10);
    pointer-events: none;
    font-family: 'Sunflower', sans-serif;
    
    z-index: -100;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; 
}



.author{
    position: absolute;
    color: rgb(169, 115, 255);
    margin-top:150px;
    margin-left:50px;
    opacity: 0;
    animation: showAuthor 3s ease-in-out 1.5s forwards;
    font-family: 'Sunflower', sans-serif;
    z-index: -100;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; 
}

.main_area{
    display: none;
    animation:slidePage 0.5s ease-in-out forwards;
    
}


.stop_watch{
    transform-style: preserve-3d;
    position: absolute;
    width:40vw;
    height:30vh;
    
}

:hover.stop_watch{
    animation: rotateWatch 1s forwards;
}

.watch_front{
    position: absolute;
    border-radius: 10px;
    transform:translateZ(100px);
    width:40vw;
    height:30vh;
    background-color: black;
    color: #9092A9;
    font-size: 7rem;
    box-shadow: 10px 10px 10px 10px grey;
    border: solid 2px white;
    display:flex;
    justify-content: center;
    align-items: center;
}

.watch_back{
    position: absolute;
    transform:translateZ(-100px);
    width:40vw;
    height:30vh;
    background-color: white;
}

.printed{
    position: absolute;
    transform:translateZ(-100px);
    z-index: -100;
    width:40vw;
    height:10vh;
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(0,212,255,1) 0%, rgba(2,154,217,1) 28%, rgba(3,140,208,1) 35%, rgba(4,124,197,1) 56%, rgba(4,124,197,1) 75%, rgba(5,110,188,1) 90%, rgba(9,13,124,1) 98%, rgba(9,9,121,1) 100%);;
    color: white;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    box-shadow: 0px 0px 20px black;
    background-size: cover;
}

.watch_left{
    position: absolute;
    transform: rotateY(90deg) translateZ(-100px); 
    width:200px;
    height:30vh;
    background-color: white;
}

.watch_right{
    position: absolute;
    transform: rotateY(-90deg) translateZ(-515px); 
    width:200px;
    height:30vh;
    background-color: white;
}

.watch_top{
    position: absolute;
    transform: rotateX(90deg) translateZ(102px); 
    width:39.8vw;
    height:200px;
    left:0.15vw;
    background-color: white;
    border: solid 2px white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:10vh;
}

.watch_bottom{
  
}

.watch_btn{
    width: 30%;
    height: 50%;
    font-size: 2rem;
    font-weight: 700;
    outline: none;
    cursor: pointer;
}

.watch_btn_play{
    width: 30%;
    height: 50%;
    font-size: 2rem;
    font-weight: 700;
    outline: none;
    cursor: pointer;
    background-color: #F3E7D9;
    border: none;
    color: yellowgreen;
}

.recordTitle {
    font-family: 'Sunflower', sans-serif;
    font-weight: 700;
    color:black;
    margin-bottom: 20%;
    display: flex;
    justify-content: center;
    animation: flick 0.4s forwards;
}

.recordList {
    overflow: auto;
    width: 80%;
    animation: flick 0.4s forwards;
   
}

.exitPrint{
    position: absolute;
    margin-top: -43vh;
    margin-left: 18vw;
    font-size: 5vh;
    color: #00CFFC;
    cursor: pointer;
}

::-webkit-scrollbar { width: 1.5vh; }
::-webkit-scrollbar-track { 
    background-color:#5D5D5D;
    
 }
 
::-webkit-scrollbar-thumb { 
    background: white;
    border-radius:10px; }
::-webkit-scrollbar-thumb:hover { background: #404040; }
::-webkit-scrollbar-thumb:active { background: #808080; }
::-webkit-scrollbar-button { display: none; }

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid white;
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px #000 inset;
  transition: background-color 5000s ease-in-out 0s;
}

.record{
    font-family: 'Hi Melody', cursive;
    font-size:30px;
    color:black;
    height: 50vh;
}

.downloadBtn{
    text-decoration: none;
    background-color:#047CC5;
    color: white;
    box-shadow: 0 0 10px;
    
    border-radius: 20px;
    padding: 10px;
}
@keyframes rotateWatch{
    0%{
        transform: rotateY(0);
    }
    100%{
        transform: rotatex(-50deg)
    }
}

@keyframes revertRotate{
    0%{
        transform: rotatex(-50deg)
    }
    100%{
        transform: rotateY(0);
    }
}

@keyframes showText{
    0%{
        clip-path: polygon(0 0, 0 0, 0% 100%, 0 100%);
    }
    100%{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}

@keyframes textEffect{
    0%{
        clip-path: polygon(0 0, 2% 0, 2% 100%, 0 100%);
    }
    100%{
        clip-path: polygon(100% 0, 102% 0, 102% 100%, 100% 100%);
        
    }
}

@media screen and (max-width: 1295px) {
    .author{
        margin-top:250px;
    }
}

@media screen and (max-width: 1024px) {
    .background{
        width:60%;
        
    }
    .background-effect{
        width:60%;
    }
    .author{
        margin-top:230px;
    }
}

@media screen and (max-width: 860px) {
    .background{
        width:55%;
    }
    .background-effect{
        width:55%;
    }
    .author{
        margin-top:250px;
    }
   
}

@media screen and (max-width: 560px) {
    .background{
        width:70%;
        
    }
    .background-effect{
        width:70%;
    }
}

@media screen and (max-width: 560px) {
    .background{
        width:90%;
        
    }
    .background-effect{
        width:90%;
    }
}

@media screen and (max-width: 320px) {
    .background{
        line-height: 2;
        
    }
    .background-effect{
        line-height: 2;
    }
}

@keyframes showAuthor{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes blink{
    0%{
        border-right: solid 1px rgb(169, 115, 255);
    }
    100%{
        border-right: none;
    }
}

@keyframes slideAuthor{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-50vh);
    }
}

@keyframes slidePage{
    0%{
        transform: translateX(0)
    }
    100%{
        transform: translateX(-100%)
    }
}

@keyframes printResult{
    0%{
    }
    100%{
        z-index: 100;
        transform: translateY(-48vh) translateX(-47vw) translateZ(500px);
        height:95vh;
        
    }
}

@keyframes printBack{
    
        0%{
            z-index: 100;
            transform: translateY(-48vh) translateX(-47vw) translateZ(500px);
            height:95vh;
        }
        100%{
            z-index: -100;
            transform: translateY(0) translateX(0) translateZ(100px);
            height:30vh;
    }
}

@keyframes flick{
    0%{
        background-color: none;
    }
    50%{
        background-color: palegoldenrod;
    }
    100%{
        background-color: none;
    }
}
;